.slide-show{
	height: 100%;
	position: relative;
}

.slide-show *{
	/*border: 1px solid #000;*/
}

.slide{
	overflow: hidden;
	position: absolute;
	width: 100%;
	top:0;
	bottom:0;
	left: 100%;
	transition: left 1s cubic-bezier(0.03, 0.26, 0.1, 0.99);
	display: flex;
	-webkit-justify-content: center;
	        justify-content: center;
	align-items: center;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.show{
	left: 0;
}

/* position default: bottom */
.slide .text{
	width: 100%;
	text-align: center;
	transition: all .5s cubic-bezier(0.03, 0.26, 0.1, 0.99);
	-webkit-transition-delay: 1s;
	   -moz-transition-delay: 1s;
	    -ms-transition-delay: 1s;
	     -o-transition-delay: 1s;
	        transition-delay: 1s;
	position:relative;
	top: 100%;
}

.slide-show .show .text{
	top: 0;
}

.slide-show .state{
	position: absolute;
	bottom: 10px;
	display: flex;
	width: 100vw;
	-webkit-justify-content: center;
	        justify-content: center;
	z-index: 100;
}

.slide-show .state li{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin: 5px;
	border: 1px solid #fff;
}

.slide-show .state .active{
	background: rgba(255, 255, 255, 0.7);
}



